<div class="container p-3 my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center py-2">About Site  <i class="fas fa-pencil-alt"></i></h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2 offset-1 justify-content-center">
      <ul class="list-unstyled pt-3">
        <ul class="">
          <li class="list">絵日記に</li>
          <li class="list">旅行記に</li>
          <li class="list">レシピに</li>
        </ul>
      </ul>
    </div>
    <h2 class="col-12 text-center pt-5">Don't think, let's write!!</h2>
  </div>

</div>